## Basics

### Whitespace Formatting

In [8]:
for i in [1, 2, 3, 4, 5]:
    print (i)
    for j in [1, 2, 3, 4, 5]:
        print (j)                 
        print (i + j)             
    print (i)
print ("done looping")

1
1
2
2
3
3
4
4
5
5
6
1
2
1
3
2
4
3
5
4
6
5
7
2
3
1
4
2
5
3
6
4
7
5
8
3
4
1
5
2
6
3
7
4
8
5
9
4
5
1
6
2
7
3
8
4
9
5
10
5
done looping

##### Indentation is ignored inside parentheses and bracjets

In [12]:
long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 +
 13 + 14 + 15 + 16 + 17 + 18 + 19 + 20)
long_winded_computation

210

In [20]:
 list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
 easier_to_read_list_of_lists = [
                                [1, 2, 3],
                                [4, 5, 6],
                                [7, 8, 9] ]
list_of_lists
easier_to_read_list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

##### Backslash is used to indicate that a statement continues onto the next line

In [24]:
two_plus_three = 2 + \
 3
two_plus_three

5

#### Note: One consequence of whitespace formatting is that it can be hard to copy and paste code into the Python shell. As you may get some INDENTATION ERROR

### Modules

In [41]:
import re
my_regex = re.compile("[0-9]", re.I)

re.compile(r'[0-9]', re.IGNORECASE|re.UNICODE)

Or you can used an alias

In [44]:
import re as regex
my_regex = regex.compile("[0-9]", re.I)

Or to use standard conventions for popular libraries like ```matplotlib```

In [47]:
import matplotlib.pyplot as plt

If you need specific values from a module you can use ```from``` statement

In [54]:
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

To import entire module you can you the ```*``` statement
Use this if you are a bad person

In [61]:
match = 10
from re import *
print(match)

<function match at 0x00000146D36C6840>

### Arithmetic

Python uses integere division by default
So, 5 / 2 = 2. This is what we dont want so 
we start our files with

In [65]:
from __future__ import division

This gives us 5 / 2 = 2.5
And if we need integer division we can do it using double slash ```5 // 2```

### Functions

Functions in Python are defined using keyword ```def```

In [71]:
def double(x):
    return x * 2

Python functions can be assigned to variable and pass them to functions just like any other arguments

In [88]:
def apply_to_one(f):
    return f(1)

my_double = double
x = apply_to_one(my_double)
x

2

Creating anonymous functions (lambdas)

In [91]:
y = apply_to_one(lambda x: x+4)
y

5

def function is >>> lambda function

In [94]:
another_double = lambda x: 2 * x # dont do this
def another_double(x): return 2 * x # dot this instead

Functions with parameters can also be given default parameters

In [101]:
def my_print(message = "my default message"):
    print(message)

my_print("Hello")
my_print()

Hello
my default message

In [103]:
def subtract(a=0, b=0):
     return a - b
subtract(10, 5) # returns 5
subtract(0, 5)  # returns -5
subtract(b=5)   # same as previou

-5

### Strings

Strings are delimited by single or double quotation marks

In [110]:
single_quoted_string = 'data science'
double_quoted_string = "data science"
single_quoted_string
double_quoted_string

'data science'

Python uses backslashes to encode special characters

In [118]:
tab_string = "\t"       
len(tab_string)
tab_string

'\t'

If you need backslash as backslash you can you can create raw string using ```r""```

In [116]:
not_tab_string = r"\t"
len(not_tab_string)
not_tab_string

'\\t'

To create multiline string you can use triple quatation marks ```"""Strings"""```

In [123]:
multi_line_string = """This is the first line.
 and this is the second line
 and this is the third line"""
multi_line_string

'This is the first line.\n and this is the second line\n and this is the third line'

### Exceptions

Exceptions in python is handle by using ```try``` and ```catch``` statements

In [129]:
 try:
     print( 0 / 0)
 except ZeroDivisionError:
     print ("cannot divide by zero")

cannot divide by zero

### Lists

In [134]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [ integer_list, heterogeneous_list, [] ]

list_length = len(integer_list) # equals 3     
list_sum = sum(integer_list)     # equals 6

 You can get or set the nth element of a list with square brackets:

In [139]:
x = list(range(10))   # is the list [0, 1, ..., 9]
zero = x[0]     # equals 0, lists are 0-indexed
one = x[1]      # equals 1
nine = x[-1]    # equals 9, 'Pythonic' for last element
eight = x[-2]   # equals 8, 'Pythonic' for next-to-last element
x[0] = -1       # now x is [-1, 1, 2, 3, ..., 9]

 You can also use square brackets to “slice” lists:

In [144]:
first_three   = x[:3]   # [-1, 1, 2]            
three_to_end = x[3:]     # [3, 4, ..., 9]            
one_to_four = x[1:5]      # [1, 2, 3, 4]        
last_three = x[-3:]         # [7, 8, 9]        
without_first_and_last = x[1:-1]     # [1, 2, ..., 8] 
copy_of_x = x[:]                  # [-1, 1, 2, ..., 9]

Python has an in operator to check for list membership:

In [147]:
1 in [1, 2, 3]    # True
0 in [1, 2, 3]    # False

False

Concatenate lists

In [152]:
x = [1,2,3]
x.extend([4,5,6])
x

[1, 2, 3, 4, 5, 6]

Modity Lists

In [155]:
y = x + [7,8,9]
y

[1, 2, 3, 4, 5, 6, 7, 8, 9]

To add one item at a time ```append``` method of list is used

In [162]:
x.append(8)
x

[1, 2, 3, 4, 5, 6, 7, 7, 8]

In [166]:
y = x[-1] # extracting last element of x list and assigning to y
y

8

In [170]:
z = len(x) # extracting the size of x and assigning to z
z

9

In [176]:
 x, y = [1, 2] # assigning values to x and y using list 
# it is only possible if the size of variables == size of list
x,y

(1, 2)

To throw away values you can use the underscores sign ```_```

In [181]:
 _, y = [1, 2]
y 
# it ignores the value of _

2

### Tuples

In [3]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3     # my_list is now [1, 3] 

try:
    my_tuple[1] = 3
except TypeError:
    print ("cannot modify a tuple")

cannot modify a tuple

Tuples can be used to return multiple variable from a function

In [10]:
def sum_and_product(x, y):
    return (x + y),(x * y)
sp = sum_and_product(2, 3)    # equals (5, 6)
s, p = sum_and_product(5, 10) # s is 15, p is 5
print(sp)
print(s)
print(p)

(5, 6)
15
50

It can also be used for multiple assignment

In [15]:
x, y = 1, 2
x, y = y, x
print(x)
print(y)

2
1

### Dictionaries

In [18]:
empty_dict = {}           # Pythonic              
empty_dict2 = dict()      # less Pythonic              
grades = { "Joel" : 80, "Tim" : 95 }    # dictionary literal
print(grades)

{'Joel': 80, 'Tim': 95}

You can access values of dictionaries using their key as index

In [25]:
joels_grade = grades["Joel"]
print(joels_grade)

80

You will get a KeyError if you ask for a key that is not in the dictionary

In [30]:
try:
    kates_grade = grades["Kate"]
except KeyError:
    print ("no grade for Kate!")

no grade for Kate!

You can also check for the existenceof a key using ```in```

In [33]:
joel_has_grade = "Joel" in grades     # True
kate_has_grade = "Kate" in grades     # False
print(joel_has_grade)
print(kate_has_grade)

True
False

```get``` method returns a default value

In [40]:
joels_grade = grades.get("Joel", 0)   # equals 80
kates_grade = grades.get("Kate", 0)   # equals 0
no_ones_grade = grades.get("No One")  # default default is None
print(joels_grade)
print(kates_grade)
print(no_ones_grade) # if the key does not have any default value it returns 'None'

80
0
None

Assigning values to key

In [44]:
grades["Tim"] = 99        # replaces the old value
grades["Kate"] = 100       # adds a third entry           
num_students = len(grades)     # equals 3        
print(grades)

{'Joel': 80, 'Tim': 99, 'Kate': 100}

Representing Structured Data

In [50]:
tweet = {
 "user" : "joelgrus",
 "text" : "Data Science is Awesome",
 "retweet_count" : 100,
 "hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
 }

In [52]:
tweet

{'user': 'joelgrus',
 'text': 'Data Science is Awesome',
 'retweet_count': 100,
 'hashtags': ['#data', '#science', '#datascience', '#awesome', '#yolo']}

In [56]:
tweet_keys   = tweet.keys()     # list of keys
tweet_values = tweet.values()   # list of values
tweet_items  = tweet.items()    # list of (key, value) tuples
print("user" in tweet_keys)            # True, but uses a slow list in         
print("user" in tweet)                 # more Pythonic, uses faster dict in 
print("joelgrus" in tweet_values)       # True

True
True
True

#### defaultdict

1st approach to count word

In [77]:
document=["Hello","Student","Prajapati","a","Scientist","ML","Is","Is","Ronish","World","Ronish","is","name","name","My"]
word_counts = {}
for word in document:
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1
print(word_counts)

{'Hello': 1, 'Student': 1, 'Prajapati': 1, 'a': 1, 'Scientist': 1, 'ML': 1, 'Is': 2, 'Ronish': 2, 'World': 1, 'is': 1, 'name': 2, 'My': 1}

2nd approach

In [80]:
word_counts = {}
for word in document:
    try:
        word_counts[word] += 1
    except KeyError:
         word_counts[word] = 1
word_counts

{'Hello': 1,
 'Student': 1,
 'Prajapati': 1,
 'a': 1,
 'Scientist': 1,
 'ML': 1,
 'Is': 2,
 'Ronish': 2,
 'World': 1,
 'is': 1,
 'name': 2,
 'My': 1}

3rd approach

In [89]:
word_counts = {}
for word in document:
    previous_count = word_counts.get(word, 0)
    print(previous_count)
    word_counts[word] = previous_count + 1
word_counts

0
0
0
0
0
0
0
1
0
0
1
0
0
1
0

{'Hello': 1,
 'Student': 1,
 'Prajapati': 1,
 'a': 1,
 'Scientist': 1,
 'ML': 1,
 'Is': 2,
 'Ronish': 2,
 'World': 1,
 'is': 1,
 'name': 2,
 'My': 1}

In [91]:
from collections import defaultdict
word_counts = defaultdict(int)   # int() produces 0       
for word in document:
    word_counts[word] += 1
word_counts

defaultdict(int,
            {'Hello': 1,
             'Student': 1,
             'Prajapati': 1,
             'a': 1,
             'Scientist': 1,
             'ML': 1,
             'Is': 2,
             'Ronish': 2,
             'World': 1,
             'is': 1,
             'name': 2,
             'My': 1})

In [111]:
dd_list = defaultdict(list)    # list() produces an empty list         
dd_list["num"].append(1)           # now dd_list contains {2: [1]}          
dd_dict = defaultdict(dict)     # dict() produces an empty dict         
dd_dict["Joel"]["City"] = "Seattle"  # { "Joel" : { "City" : Seattle"}}   
dd_pair = defaultdict(lambda: [0, 0])
dd_pair[2][0] = 1                    # [2] is key ,[0] is index of [0,0] and 1 is the value to put in the 0 index

In [113]:
dd_list

defaultdict(list, {'num': [1]})

In [115]:
dd_dict

defaultdict(dict, {'Joel': {'City': 'Seattle'}})

In [117]:
dd_pair

defaultdict(<function __main__.<lambda>()>, {2: [1, 0]})

#### Counter

Counter basically counts the values

In [124]:
from collections import Counter
c = Counter(["A", "B", "C", "C"])          # c is (basically) {'C': 2, 'A': 1, 'B': 1 }
c

Counter({'C': 2, 'A': 1, 'B': 1})

This is doing extactly how we counted using defaultdic or the other way

In [129]:
word_counts = Counter(document)
word_counts

Counter({'Is': 2,
         'Ronish': 2,
         'name': 2,
         'Hello': 1,
         'Student': 1,
         'Prajapati': 1,
         'a': 1,
         'Scientist': 1,
         'ML': 1,
         'World': 1,
         'is': 1,
         'My': 1})

The ```most_common``` method

In [135]:
 # print the 10 most common words and their counts
for word, count in word_counts.most_common(10):
    print (word, count)

Is 2
Ronish 2
name 2
Hello 1
Student 1
Prajapati 1
a 1
Scientist 1
ML 1
World 1

### Sets

In [4]:
s = set()
s.add(1) # s is now { 1 }
s.add(2) # s is now { 1, 2 }
s.add(2) # s is still { 1, 2 }
x = len(s) # equals 2
y = 2 in s # equals True
z = 3 in s # equals False
print(s)
print(x)
print(y)
print(z)

{1, 2}
2
True
False

It is faster to check if the word is in the collection using set as it holds only unique words

In [14]:
hundreds_of_other_words = ["Here", "will", "be", "Hundreds", "of", "other", "words"]
stopwords_list = ["a","an","at"] + hundreds_of_other_words + ["yet", "you"]
"zip" in stopwords_list # False, but have to check every element
stopwords_set = set(stopwords_list)
"zip" in stopwords_set # very fast to check

False

As said above the set holds only distinct items in the collections.
It can be used to find the unique element.

In [ ]:
item_list = [1, 2, 3, 1, 2, 3]
num_items = len(item_list) # 6
item_set = set(item_list) # {1, 2, 3}
num_distinct_items = len(item_set) # 3
distinct_item_list = list(item_set) # [1, 2, 3]

### Control Flow

The ```if elif else``` Statement

In [24]:
if 1 > 2:
    message = "if only 1 were greater than two..."
elif 1 > 3:
    message = "elif stands for 'else if'"
else:
    message = "when all else fails use else (if you want to)"

Ternary ```if-then-else```

In [27]:
parity = "even" if x % 2 == 0 else "odd"

```while``` Loop

In [30]:
x = 0
while x < 10:
    print (x, "is less than 10")
    x += 1

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

```for``` and ```in``` loop

In [37]:
for x in range(10):
    print (x, "is less than 10")

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

```for``` loop along with ```continue``` and ```break```

In [39]:
for x in range(10):
    if x == 3:
        continue # go immediately to the next iteration
    if x == 5:
        break # quit the loop entirely
    print (x)

0
1
2
4

### Truthiness

In [43]:
one_is_less_than_two = 1 < 2 # equals True
true_equals_false = True == False # equals False

Python uses the value None to indicate a nonexistent value. It is similar to other languages’ null

In [47]:
x = None
print (x == None) # prints True, but is not Pythonic
print (x is None) # prints True, and is Pythonic

True
True

In [56]:
def some_function_that_returns_a_string():
    return "Ronish"
s = some_function_that_returns_a_string()
if s:
 first_char = s[0]
else:
 first_char = ""
first_char

''

In [60]:
first_char = s and s[0]
first_char

''

In [62]:
all([True, 1, { 3 }]) # True
all([True, 1, {}]) # False, {} is falsy
any([True, 1, {}]) # True, True is truthy
all([]) # True, no falsy elements in the list
any([]) # False, no truthy elements in the list

False

## Not-So-Basics

### Sorting

In [ ]:
x = [4,1,2,3]
y = sorted(x) # is [1,2,3,4], x is unchanged
x.sort() # now x is [1,2,3,4]

In [84]:
# sort the list by absolute value from largest to smallest
x = sorted([-4,1,-2,3], key=abs, reverse=True) # is [-4,3,-2,1]
print(x)
# sort the words and counts from highest count to lowest
word_counts = {"apple": 4, "banana": 2, "cherry": 7}
wc = sorted(word_counts.items(), reverse=True) # Sorts by key
print(wc)
wc = sorted(word_counts.items(), key=lambda item: item[1], reverse=True) # Sorts by values
wc

[-4, 3, -2, 1]
[('cherry', 7), ('banana', 2), ('apple', 4)]

[('cherry', 7), ('apple', 4), ('banana', 2)]

### List Comprehensions

For Lists

In [92]:
even_numbers = [x for x in range(5) if x % 2 == 0] # [0, 2, 4]
squares = [x * x for x in range(5)] # [0, 1, 4, 9, 16]
even_squares = [x * x for x in even_numbers] # [0, 4, 16]
print(even_numbers)
print(squares)
print(even_squares)

[0, 2, 4]
[0, 1, 4, 9, 16]
[0, 4, 16]

For Dictionaries and Sets

In [107]:
square_dict = { x : x * x for x in range(5) } # { 0:0, 1:1, 2:4, 3:9, 4:16 }
square_set = { x * x for x in [1, -1, 2] } # { 1 }
print(square_dict)
print(square_set)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{1, 4}

If your dont need values from the list, use the underscore ```_```

In [109]:
zeroes = [0 for _ in even_numbers] # has the same length as even_numbers
zeroes

[0, 0, 0]

Using multiple ```for```

In [120]:
pairs = [(x, y)
    for x in range(10)
    for y in range(10)] # 100 pairs (0,0) (0,1) ... (9,8), (9,9)
print(pairs)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (0, 8), (0, 9), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8), (5, 9), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7), (6, 8), (6, 9), (7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7), (7, 8), (7, 9), (8, 0), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (8, 8), (8, 9), (9, 0), (9, 1), (9, 2), (9, 3), (9, 4), (9, 5), (9, 6), (9, 7), (9, 8), (9, 9)]

In [124]:
increasing_pairs = [(x, y) # only pairs with x < y,
    for x in range(10) # range(lo, hi) equals
    for y in range(x + 1, 10)] # [lo, lo + 1, ..., hi - 1]
print(increasing_pairs)

[(0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (0, 8), (0, 9), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (5, 6), (5, 7), (5, 8), (5, 9), (6, 7), (6, 8), (6, 9), (7, 8), (7, 9), (8, 9)]

### Generators and Iterators

First approach

In [138]:
def lazy_range(n):
    """a lazy version of range"""
    i = 0
    while i < n:
        yield i
        i += 1

lazy_range(10)

In [140]:
for i in lazy_range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

lazy_range() method without a break
```
def natural_numbers():
    """returns 1, 2, 3, ..."""
    n = 1
    while True:
        yield n
        n += 1```

Generator Comprehension

In [153]:
lazy_evens_below_20 = (i for i in lazy_range(20) if i % 2 == 0) # you can use range() method 
lazy_evens_below_20

### Randomness

In [158]:
import random
four_uniform_randoms = [random.random() for _ in range(4)]
four_uniform_randoms

[0.8837689129270601,
 0.6398354190529598,
 0.04016322418786866,
 0.6084335548689592]

In [162]:
random.seed(10) # set the seed to 10
print (random.random()) # 0.57140259469
random.seed(10) # reset the seed to 10
print (random.random())

0.5714025946899135
0.5714025946899135

In [170]:
random.randrange(10) # choose randomly from range(10) = [0, 1, ..., 9]

3

In [166]:
random.randrange(3, 6) # choose randomly from range(3, 6) = [3, 4, 5]

5

In [176]:
up_to_ten = [_ for _ in range(10)] 
random.shuffle(up_to_ten)
print (up_to_ten)
# [2, 5, 1, 9, 7, 3, 8, 6, 4, 0] (your results will probably be different)

[8, 3, 9, 2, 4, 1, 7, 6, 0, 5]

In [180]:
my_best_friend = random.choice(["Alice", "Bob", "Charlie"]) # "Bob" for me
my_best_friend

'Charlie'

In [193]:
lottery_numbers = [_ for _ in range(60)]
winning_numbers = random.sample(lottery_numbers, 6) # [16, 36, 10, 6, 25, 9]
winning_numbers # sample list from lottery_numbers

[37, 0, 15, 8, 12, 19]

In [195]:
four_with_replacement = [random.choice(range(10)) for _ in range(4)]
four_with_replacement

[8, 5, 3, 5]

### Regular Expressions

In [198]:
import re
print (all([ # all of these are true, because
 not re.match("a", "cat"), # * 'cat' doesn't start with 'a'
 re.search("a", "cat"), # * 'cat' has an 'a' in it
 not re.search("c", "dog"), # * 'dog' doesn't have a 'c' in it
 3 == len(re.split("[ab]", "carbs")), # * split on a or b to ['c','r','s']
 "R-D-" == re.sub("[0-9]", "-", "R2D2") # * replace digits with dashes
 ])) # prints True

True

### Object-Oriented Programming

In [207]:
# by convention, we give classes PascalCase names
class Set:
 # these are the member functions
 # every one takes a first parameter "self" (another convention)
 # that refers to the particular Set object being used
    def __init__(self, values=None):
        """This is the constructor.
        It gets called when you create a new Set.
        You would use it like
        s1 = Set() # empty set
        s2 = Set([1,2,2,3]) # initialize with values"""
        self.dict = {} # each instance of Set has its own dict property
                       # which is what we'll use to track memberships
        if values is not None:
            for value in values:
                self.add(value)
            
    def __repr__(self):
        """this is the string representation of a Set object
        if you type it at the Python prompt or pass it to str()"""
        return "Set: " + str(self.dict.keys())
    
    # we'll represent membership by being a key in self.dict with value True
    def add(self, value):
        self.dict[value] = True
    
    # value is in the Set if it's a key in the dictionary
    def contains(self, value):
        return value in self.dict
    
    def remove(self, value):
        del self.dict[value]

s = Set([1,2,3])
s.add(4)
print (s.contains(4)) # True
s.remove(3)
print (s.contains(3)) # False

True
False