### Whitespace Formatting

In [8]:
for i in [1, 2, 3, 4, 5]:
    print (i)
    for j in [1, 2, 3, 4, 5]:
        print (j)                 
        print (i + j)             
    print (i)
print ("done looping")

1
1
2
2
3
3
4
4
5
5
6
1
2
1
3
2
4
3
5
4
6
5
7
2
3
1
4
2
5
3
6
4
7
5
8
3
4
1
5
2
6
3
7
4
8
5
9
4
5
1
6
2
7
3
8
4
9
5
10
5
done looping

##### Indentation is ignored inside parentheses and bracjets

In [12]:
long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 +
 13 + 14 + 15 + 16 + 17 + 18 + 19 + 20)
long_winded_computation

210

In [20]:
 list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
 easier_to_read_list_of_lists = [
                                [1, 2, 3],
                                [4, 5, 6],
                                [7, 8, 9] ]
list_of_lists
easier_to_read_list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

##### Backslash is used to indicate that a statement continues onto the next line

In [24]:
two_plus_three = 2 + \
 3
two_plus_three

5

#### Note: One consequence of whitespace formatting is that it can be hard to copy and paste code into the Python shell. As you may get some INDENTATION ERROR

### Modules

In [41]:
import re
my_regex = re.compile("[0-9]", re.I)

re.compile(r'[0-9]', re.IGNORECASE|re.UNICODE)

Or you can used an alias

In [44]:
import re as regex
my_regex = regex.compile("[0-9]", re.I)

Or to use standard conventions for popular libraries like ```matplotlib```

In [47]:
import matplotlib.pyplot as plt

If you need specific values from a module you can use ```from``` statement

In [54]:
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

To import entire module you can you the ```*``` statement
Use this if you are a bad person

In [61]:
match = 10
from re import *
print(match)

<function match at 0x00000146D36C6840>

### Arithmetic

Python uses integere division by default
So, 5 / 2 = 2. This is what we dont want so 
we start our files with

In [65]:
from __future__ import division

This gives us 5 / 2 = 2.5
And if we need integer division we can do it using double slash ```5 // 2```

### Functions

Functions in Python are defined using keyword ```def```

In [71]:
def double(x):
    return x * 2

Python functions can be assigned to variable and pass them to functions just like any other arguments

In [88]:
def apply_to_one(f):
    return f(1)

my_double = double
x = apply_to_one(my_double)
x

2

Creating anonymous functions (lambdas)

In [91]:
y = apply_to_one(lambda x: x+4)
y

5

def function is >>> lambda function

In [94]:
another_double = lambda x: 2 * x # dont do this
def another_double(x): return 2 * x # dot this instead

Functions with parameters can also be given default parameters

In [101]:
def my_print(message = "my default message"):
    print(message)

my_print("Hello")
my_print()

Hello
my default message

In [103]:
def subtract(a=0, b=0):
     return a - b
subtract(10, 5) # returns 5
subtract(0, 5)  # returns -5
subtract(b=5)   # same as previou

-5

### Strings

Strings are delimited by single or double quotation marks

In [110]:
single_quoted_string = 'data science'
double_quoted_string = "data science"
single_quoted_string
double_quoted_string

'data science'

Python uses backslashes to encode special characters

In [118]:
tab_string = "\t"       
len(tab_string)
tab_string

'\t'

If you need backslash as backslash you can you can create raw string using ```r""```

In [116]:
not_tab_string = r"\t"
len(not_tab_string)
not_tab_string

'\\t'

To create multiline string you can use triple quatation marks ```"""Strings"""```

In [123]:
multi_line_string = """This is the first line.
 and this is the second line
 and this is the third line"""
multi_line_string

'This is the first line.\n and this is the second line\n and this is the third line'

### Exceptions

Exceptions in python is handle by using ```try``` and ```catch``` statements

In [129]:
 try:
     print( 0 / 0)
 except ZeroDivisionError:
     print ("cannot divide by zero")

cannot divide by zero

### Lists

In [134]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [ integer_list, heterogeneous_list, [] ]

list_length = len(integer_list) # equals 3     
list_sum = sum(integer_list)     # equals 6

 You can get or set the nth element of a list with square brackets:

In [139]:
x = list(range(10))   # is the list [0, 1, ..., 9]
zero = x[0]     # equals 0, lists are 0-indexed
one = x[1]      # equals 1
nine = x[-1]    # equals 9, 'Pythonic' for last element
eight = x[-2]   # equals 8, 'Pythonic' for next-to-last element
x[0] = -1       # now x is [-1, 1, 2, 3, ..., 9]

 You can also use square brackets to “slice” lists:

In [144]:
first_three   = x[:3]   # [-1, 1, 2]            
three_to_end = x[3:]     # [3, 4, ..., 9]            
one_to_four = x[1:5]      # [1, 2, 3, 4]        
last_three = x[-3:]         # [7, 8, 9]        
without_first_and_last = x[1:-1]     # [1, 2, ..., 8] 
copy_of_x = x[:]                  # [-1, 1, 2, ..., 9]

Python has an in operator to check for list membership:

In [147]:
1 in [1, 2, 3]    # True
0 in [1, 2, 3]    # False

False

Concatenate lists

In [152]:
x = [1,2,3]
x.extend([4,5,6])
x

[1, 2, 3, 4, 5, 6]

Modity Lists

In [155]:
y = x + [7,8,9]
y

[1, 2, 3, 4, 5, 6, 7, 8, 9]

To add one item at a time ```append``` method of list is used

In [162]:
x.append(8)
x

[1, 2, 3, 4, 5, 6, 7, 7, 8]

In [166]:
y = x[-1] # extracting last element of x list and assigning to y
y

8

In [170]:
z = len(x) # extracting the size of x and assigning to z
z

9

In [176]:
 x, y = [1, 2] # assigning values to x and y using list 
# it is only possible if the size of variables == size of list
x,y

(1, 2)

To throw away values you can use the underscores sign ```_```

In [181]:
 _, y = [1, 2]
y 
# it ignores the value of _

2

### Tuples